<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love Web</title>
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <link rel="stylesheet" href="/random-style.css">
    <link rel="stylesheet" href="/learning-journal.css">
    <link rel="stylesheet" href="/public/random-style.css">



</head>

<body>
