<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love Web</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <header>
        <img class="butter" src="bewijsmateriaal/vlinder-wit-uitgeknipt.svg">
        <h1>Anouk de Rooij</h1>
    </header>