:root { 
  --main-green:  #b1d8b7; 
  --sprint-green: #0D7C66;
  --sprint-green2:  #65856a; 


}

html {
  scroll-behavior: smooth;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-left: 7%;
  margin-right: 7%;
}

header {
  text-align: center;
}

.id {
  text-align: center;
  background-color: var(--sprint-green2)
}

/* @font-face {
  font-family: 'Open Sans';
  src: url('PixelFont-Regular.otf') format('woff2');
} */

/* voor /* gebruik je ctrl/ */

body {
  font-family: 'Open Sans',"Relieve", Arial, sans-serif;
}


article {
  background: var(--main-green);
  padding: 10px;
  border-radius: 10px;
  width: 80vw;
  margin: auto;
}

img {
  border-radius: 10px;
  box-shadow: 0 0 4px 4px rgba(0,0,0,.1);  
}

@media only screen and (min-width: 300px) {
  img {
    border-image-width: 80%;
  }
}

.responsive {
  max-width: 50%;
  height: auto;
}

