{% render 'partials/head.liquid' %}
<body>
    <main>
        <h1> Anouk de Rooij </h1>
        <a class="back" href="/">← Back to home</a>

        <h2>Fun facts:</h2>
        <ul>
            <li>Ik heb alijd muziek aan</li>
            <li>1000+ km geskeelerd (sinds 2021)</li>
            <li> <a href="snappthis-animatie.liquid">SnappThis animatie</a> </li>
        </ul>
    </main>
</body>

{% render 'partials/foot.liquid' %}
