{% render 'partials/header.liquid' %}

    <main>
        <h2>Learning journal</h2>
        <ul>
            <li><a class="list-item" href="learninglog/sprint1.html">SPRINT 1</a></li>
            <li><a class="list-item" href="learninglog/sprint2.html">SPRINT 2</a></li>
            <li><a class="list-item" href="learninglog/sprint3.html">SPRINT 3</a></li>
            <li><a class="list-item" href="learninglog/sprint4.html">SPRINT 4</a></li>
            <li><a class="list-item" href="learninglog/sprint5.html">SPRINT 5</a></li>
            <li><a class="list-item" href="learninglog/sprint6.html">SPRINT 6</a></li>
            <li><a class="list-item" href="learninglog/sprint7.html">SPRINT 7</a></li>
            <li><a class="list-item" href="learninglog/sprint8.html">SPRINT 8</a></li>
            <li><a class="list-item" href="learninglog/sprint9.html">SPRINT 9</a></li>
        </ul>
    
        <h2>We love Web</h2>
        <ul>
            <li><a class="list-item" href="WeLoveWeb/VasilisVanGemert.html">Vasilis van Gemert</a></li>
            <li><a class="list-item" href="WeLoveWeb/DionPieters.html">Dion Pieters</a></li>
            <li><a class="list-item" href="WeLoveWeb/DaveBitter.html">Dave Bitter</a></li>
            <li><a class="list-item" href="WeLoveWeb/Killian-PolyPane.html">Killian Valkhof (PolyPane)</a></li>
            <li><a class="list-item" href="WeLoveWeb/CassieEvans.html">Cassie Evans (Gsap)</a></li>
            <li><a class="list-item" href="WeLoveWeb/IschaGast.html">Ischa Gast (Schiphol group)</a></li>
        </ul>

        <h2>Testjes</h2>
        <ul>
            <li><a class="list-item" href="testjes/eigenfont.html">Eigen font</a></li>
        </ul>
    </main>

        <h2>Blogs en artikelen om bij te houden:</h2>
        <ul>
            <li><a class="list-item" href="https://nerdy.dev/">Adam Argyle - CSS</a></li>
            <li><a class="list-item" href=""></a></li>
            <li><a class="list-item" href=""></a></li>
            <li><a class="list-item" href=""></a></li>
            <li><a class="list-item" href=""></a></li>

        </ul>

</body>
</html>