{% render 'partials/head.liquid' %}
<body class="body-home">
    <header>
        <img class="butter" src="bewijsmateriaal/vlinder-wit-uitgeknipt.svg">
        <h1 class="h1-home">Anouk de Rooij</h1>
    </header>

    <main class="home-main">
        <ul class="home-nav">
            <li><a href="/learning-journal-1">Learning journal jaar 1</a></li>
            <li><a href="/learning-journal-2">Learning journal jaar 2</a></li>
            <li><a href="/we-love-web">We 🩵 Web</a></li>
            <li><a href="/about-me">About me</a></li>
        </ul>
    </main>

    <footer> 
    </footer>

</body>

{% render 'partials/foot.liquid' %}
