{% comment %} <script>
    import gsap from "gsap";
    import { MotionPathPlugin } from "gsap/MotionPathPlugin";
    import { DrawSVGPlugin } from "gsap/DrawSVGPlugin";

    // Voer deze code uit zodra de component in de DOM staat / bijgewerkt is
    $effect(() => {

        // Weten welke plugins je binnenhaalt
        gsap.registerPlugin(MotionPathPlugin, DrawSVGPlugin);

        // Alle paths ophalen met de class ".draw-me"
       //  let paths = document.querySelectorAll(".draw-me");

        // GSAP timeline maken
        // const tl = gsap.timeline();

        // Animeer de paths met class="draw-me"
        // tl.from(".draw-me", {
            duration: 1.5,
            drawSVG: 0,
            stagger: .2, 
            ease: "power3"
        });
    });
</script> {% endcomment %}


{% render 'partials/head.liquid' %}
<body>
    <svg width="1232" height="176" viewBox="0 0 1232 176" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- S -->
        <g>
            <path class="draw-me" d="M58.7891 105.469H69.5312C74.5443 105.469 78.1576 106.771 80.3711 109.375C82.5846 111.979 83.6914 115.365 83.6914 119.531C83.6914 128.906 76.6927 133.594 62.6953 133.594C49.4792 133.594 39.5508 131.641 32.9102 127.734L38.5742 123.438C43.1315 125.521 51.1719 126.562 62.6953 126.562C68.2943 126.562 72.0378 125.944 73.9258 124.707C75.8789 123.47 76.8555 121.745 76.8555 119.531C76.8555 117.383 76.3021 115.69 75.1953 114.453C74.1536 113.151 72.2005 112.5 69.3359 112.5H58.7891C49.8047 112.5 41.6667 111.035 34.375 108.105C27.1484 105.176 21.1914 101.139 16.5039 95.9961C11.8815 90.8529 8.33333 84.8958 5.85938 78.125C3.38542 71.3542 2.14844 64.0625 2.14844 56.25C2.14844 50 3.02734 44.0755 4.78516 38.4766C6.54297 32.8776 9.17969 27.7344 12.6953 23.0469C16.276 18.3594 20.5404 14.3229 25.4883 10.9375C30.5013 7.48698 36.4258 4.81771 43.2617 2.92969C50.1628 0.976562 57.6172 0 65.625 0C78.1901 0 89.9414 1.92057 100.879 5.76172C111.816 9.53776 120.931 14.8438 128.223 21.6797L122.559 25.8789C115.918 19.8893 107.617 15.2669 97.6562 12.0117C87.6953 8.69141 77.0182 7.03125 65.625 7.03125C56.7057 7.03125 48.6328 8.33333 41.4062 10.9375C34.2448 13.4766 28.3203 16.9922 23.6328 21.4844C19.0104 25.9766 15.4297 31.1849 12.8906 37.1094C10.4167 43.0339 9.17969 49.4141 9.17969 56.25C9.17969 65.4297 11.0352 73.6979 14.7461 81.0547C18.457 88.4115 24.1211 94.3359 31.7383 98.8281C39.3555 103.255 48.3724 105.469 58.7891 105.469Z" fill="#005F73" stroke="#005F73"/>
            <path class="draw-me" d="M58.7891 91.4062H69.5312C79.0365 91.4062 86.1654 94.043 90.918 99.3164C95.6706 104.59 98.0469 111.328 98.0469 119.531C98.0469 127.865 95.0846 134.635 89.1602 139.844C83.3008 145.052 74.4792 147.656 62.6953 147.656C54.4271 147.656 46.7122 146.712 39.5508 144.824C32.4544 142.871 26.5951 140.104 21.9727 136.523L27.5391 132.227C35.6771 137.826 47.3958 140.625 62.6953 140.625C72.526 140.625 79.6875 138.704 84.1797 134.863C88.737 130.957 91.0156 125.846 91.0156 119.531C91.0156 113.216 89.3229 108.138 85.9375 104.297C82.5521 100.391 77.0508 98.4375 69.4336 98.4375H58.7891C45.4427 98.4375 34.9935 94.4661 27.4414 86.5234C19.9544 78.5156 16.2109 68.4245 16.2109 56.25C16.2109 44.0755 20.5404 34.0169 29.1992 26.0742C37.8581 18.0664 50 14.0625 65.625 14.0625C76.0417 14.0625 85.7422 15.4948 94.7266 18.3594C103.776 21.224 111.296 25.2604 117.285 30.4688L111.816 34.8633C106.478 30.5013 99.7721 27.1159 91.6992 24.707C83.6263 22.2982 74.9349 21.0938 65.625 21.0938C51.888 21.0938 41.3737 24.3815 34.082 30.957C26.8555 37.5326 23.2422 45.9635 23.2422 56.25C23.2422 66.4714 26.3021 74.9023 32.4219 81.543C38.5417 88.1185 47.3307 91.4062 58.7891 91.4062Z" fill="#94D2BD" stroke="#94D2BD"/>
            <path class="draw-me" d="M58.7891 77.3438H69.9219C83.138 77.3438 93.457 81.3802 100.879 89.4531C108.366 97.526 112.109 107.552 112.109 119.531C112.109 131.706 107.78 141.797 99.1211 149.805C90.4622 157.747 78.3203 161.719 62.6953 161.719C52.2786 161.719 42.5456 160.286 33.4961 157.422C24.4466 154.557 16.9271 150.521 10.9375 145.312L16.4062 140.918C21.7448 145.28 28.4505 148.665 36.5234 151.074C44.6615 153.483 53.3854 154.688 62.6953 154.688C76.4323 154.688 86.9141 151.4 94.1406 144.824C101.432 138.249 105.078 129.818 105.078 119.531C105.078 109.375 102.018 100.977 95.8984 94.3359C89.8438 87.6953 81.1523 84.375 69.8242 84.375H58.7891C49.2839 84.375 42.1549 81.7708 37.4023 76.5625C32.6497 71.3542 30.2734 64.5833 30.2734 56.25C30.2734 47.9167 33.2031 41.1458 39.0625 35.9375C44.987 30.7292 53.8411 28.125 65.625 28.125C73.8932 28.125 81.5755 29.1016 88.6719 31.0547C95.7682 32.9427 101.628 35.6771 106.25 39.2578L100.684 43.5547C92.5456 37.9557 80.8594 35.1562 65.625 35.1562C55.7943 35.1562 48.6003 37.1094 44.043 41.0156C39.5508 44.8568 37.3047 49.9349 37.3047 56.25C37.3047 62.6302 38.9648 67.7409 42.2852 71.582C45.6706 75.4232 51.1719 77.3438 58.7891 77.3438Z" fill="#EE9B00" stroke="#EE9B00"/>
            <path class="draw-me" d="M70.6055 70.3125H58.7891C53.776 70.3125 50.1628 69.043 47.9492 66.5039C45.7357 63.8997 44.6289 60.4818 44.6289 56.25C44.6289 46.875 51.6276 42.1875 65.625 42.1875C78.776 42.1875 88.6719 44.1406 95.3125 48.0469L89.6484 52.3438C85.0911 50.2604 77.0833 49.2188 65.625 49.2188C60.026 49.2188 56.25 49.8372 54.2969 51.0742C52.4089 52.3112 51.4648 54.0365 51.4648 56.25C51.4648 58.4635 51.9857 60.1888 53.0273 61.4258C54.069 62.6628 55.9896 63.2812 58.7891 63.2812H70.8984C79.6875 63.2812 87.5977 64.7786 94.6289 67.7734C101.725 70.7682 107.552 74.8698 112.109 80.0781C116.667 85.2214 120.15 91.1784 122.559 97.9492C124.967 104.655 126.172 111.849 126.172 119.531C126.172 125.781 125.293 131.706 123.535 137.305C121.777 142.904 119.108 148.047 115.527 152.734C112.012 157.422 107.747 161.491 102.734 164.941C97.7865 168.327 91.862 170.964 84.9609 172.852C78.125 174.805 70.7031 175.781 62.6953 175.781C50.1302 175.781 38.3464 173.861 27.3438 170.02C16.4062 166.243 7.29167 160.938 0 154.102L5.66406 149.902C12.3047 155.892 20.6055 160.547 30.5664 163.867C40.5924 167.122 51.3021 168.75 62.6953 168.75C71.6146 168.75 79.6549 167.48 86.8164 164.941C94.043 162.337 99.9674 158.789 104.59 154.297C109.277 149.805 112.858 144.596 115.332 138.672C117.871 132.747 119.141 126.367 119.141 119.531C119.141 110.482 117.318 102.311 113.672 95.0195C110.026 87.6628 104.46 81.7057 96.9727 77.1484C89.5508 72.5911 80.7617 70.3125 70.6055 70.3125Z" fill="#AF2012" stroke="#AF2012"/>

        </g>

        <!-- n -->
        <g>
            <path class="draw-me" d="M148.828 40.2344V168.75H141.797V28.125H150.195L231.348 168.75H223.242L148.828 40.2344Z" fill="#005F73" stroke="#005F73"/>
            <path class="draw-me" d="M155.859 59.5703L162.891 72.4609V168.75H155.859V59.5703Z" fill="#94D2BD" stroke="#94D2BD"/>
            <path class="draw-me" d="M169.922 84.8633L176.953 97.6562V168.75H169.922V84.8633Z" fill="#EE9B00" stroke="#EE9B00"/>
            <path class="draw-me" d="M158.301 28.125H166.504L247.949 168.75H239.746L158.301 28.125Z" fill="#94D2BD" stroke="#94D2BD"/>
            <path class="draw-me" d="M174.902 28.125H183.203L264.551 168.75H256.152L174.902 28.125Z" fill="#EE9B00" stroke="#EE9B00"/>
            <path class="draw-me" d="M191.406 28.125H199.609L273.828 156.543V28.125H280.859V168.75H272.559L191.406 28.125Z" fill="#AF2012" stroke="#AF2012"/>
            <path class="draw-me" d="M266.797 136.328L259.766 124.414V28.125H266.797V136.328Z" fill="#EE9B00" stroke="#EE9B00"/>
            <path class="draw-me" d="M252.734 112.012L245.703 99.2188V28.125H252.734V112.012Z" fill="#94D2BD" stroke="#94D2BD"/>

        </g>

        <!-- a -->
        <g>
            <path class="draw-me" d="M447.926 99.1406V168.477H440.895V99.1406C440.895 85.8594 437.802 74.0104 431.617 63.5938C425.432 53.112 417.001 45.0391 406.324 39.375C395.647 33.6458 383.733 30.7812 370.582 30.7812C357.952 30.7812 346.396 33.8086 335.914 39.8633C325.432 45.918 317.197 54.1211 311.207 64.4727C305.217 74.7591 302.223 85.9896 302.223 98.1641C302.223 106.172 303.492 113.789 306.031 121.016C308.635 128.177 312.151 134.46 316.578 139.863C321.07 145.202 326.214 149.824 332.008 153.73C337.867 157.637 344.15 160.599 350.855 162.617C357.626 164.635 364.495 165.645 371.461 165.645C379.143 165.645 386.435 164.18 393.336 161.25V168.477C386.109 171.016 378.688 172.285 371.07 172.285C363.193 172.285 355.51 171.178 348.023 168.965C340.602 166.751 333.701 163.496 327.32 159.199C321.005 154.837 315.439 149.727 310.621 143.867C305.803 137.943 302.027 131.042 299.293 123.164C296.559 115.286 295.191 106.953 295.191 98.1641C295.191 88.0729 297.079 78.4701 300.855 69.3555C304.697 60.1758 309.905 52.2656 316.48 45.625C323.121 38.9193 331.129 33.6133 340.504 29.707C349.944 25.7357 359.97 23.75 370.582 23.75C381.389 23.75 391.546 25.5729 401.051 29.2188C410.556 32.8646 418.759 37.9427 425.66 44.4531C432.561 50.8984 437.997 58.8411 441.969 68.2812C445.94 77.7214 447.926 88.0078 447.926 99.1406Z" fill="#005F73" stroke="#005F73"/>
            <path class="draw-me" d="M433.863 99.1406V168.477H426.832V99.1406C426.832 88.3984 424.358 78.8932 419.41 70.625C414.527 62.2917 407.822 55.9115 399.293 51.4844C390.764 47.0573 381.194 44.8438 370.582 44.8438C360.491 44.8438 351.279 47.2526 342.945 52.0703C334.612 56.8229 328.069 63.2682 323.316 71.4062C318.629 79.5443 316.285 88.4635 316.285 98.1641C316.285 106.497 317.815 114.115 320.875 121.016C323.935 127.852 328.036 133.483 333.18 137.91C338.388 142.337 344.28 145.788 350.855 148.262C357.496 150.671 364.43 151.875 371.656 151.875C379.013 151.875 386.24 150.345 393.336 147.285V154.414C385.914 157.214 378.622 158.613 371.461 158.613C360.198 158.613 349.846 156.074 340.406 150.996C330.966 145.918 323.414 138.724 317.75 129.414C312.086 120.104 309.254 109.688 309.254 98.1641C309.254 89.9609 310.816 82.1484 313.941 74.7266C317.132 67.3047 321.428 60.8919 326.832 55.4883C332.236 50.0846 338.746 45.7878 346.363 42.5977C353.98 39.4076 362.053 37.8125 370.582 37.8125C382.496 37.8125 393.238 40.3516 402.809 45.4297C412.444 50.5078 420.029 57.7344 425.562 67.1094C431.096 76.4844 433.863 87.1615 433.863 99.1406Z" fill="#94D2BD" stroke="#94D2BD"/>
            <path class="draw-me" d="M419.801 99.1406V168.477H412.77V99.1406C412.77 86.8359 408.831 77.0703 400.953 69.8438C393.076 62.5521 382.952 58.9062 370.582 58.9062C359.124 58.9062 349.553 62.7148 341.871 70.332C334.189 77.9492 330.348 87.2266 330.348 98.1641C330.348 104.805 331.487 110.762 333.766 116.035C336.109 121.309 339.267 125.54 343.238 128.73C347.21 131.921 351.637 134.362 356.52 136.055C361.467 137.682 366.676 138.496 372.145 138.496C379.566 138.496 386.63 136.771 393.336 133.32V140.742C386.305 143.672 379.208 145.137 372.047 145.137C365.602 145.137 359.482 144.16 353.688 142.207C347.893 140.189 342.717 137.292 338.16 133.516C333.603 129.674 329.99 124.727 327.32 118.672C324.651 112.552 323.316 105.716 323.316 98.1641C323.316 85.3385 327.841 74.4336 336.891 65.4492C346.005 56.3997 357.236 51.875 370.582 51.875C379.957 51.875 388.355 53.7956 395.777 57.6367C403.199 61.4128 409.059 66.9141 413.355 74.1406C417.652 81.3672 419.801 89.7005 419.801 99.1406Z" fill="#EE9B00" stroke="#EE9B00"/> 
            <path class="draw-me" d="M398.707 99.1406C398.707 90.8073 396.135 84.362 390.992 79.8047C385.849 75.2474 379.046 72.9688 370.582 72.9688C363.421 72.9688 357.268 75.4427 352.125 80.3906C346.982 85.3385 344.41 91.263 344.41 98.1641C344.41 102.07 344.931 105.586 345.973 108.711C347.014 111.771 348.414 114.342 350.172 116.426C351.995 118.444 354.143 120.137 356.617 121.504C359.091 122.806 361.663 123.75 364.332 124.336C367.066 124.922 369.964 125.215 373.023 125.215C380.445 125.215 387.216 123.392 393.336 119.746V126.777C387.021 130.098 380.217 131.758 372.926 131.758C368.238 131.758 363.811 131.139 359.645 129.902C355.543 128.6 351.799 126.68 348.414 124.141C345.029 121.536 342.327 118.021 340.309 113.594C338.355 109.102 337.379 103.958 337.379 98.1641C337.379 89.1797 340.536 81.5625 346.852 75.3125C353.167 69.0625 361.077 65.9375 370.582 65.9375C381.064 65.9375 389.527 68.8997 395.973 74.8242C402.483 80.6836 405.738 88.7891 405.738 99.1406V168.477H398.707V99.1406Z" fill="#AF2012" stroke="#AF2012"/>
        </g>

        <!-- p -->
        <g>
            <path class="draw-me" d="M520.215 130.664H550C558.789 130.664 566.927 128.581 574.414 124.414C581.966 120.247 587.988 114.453 592.48 107.031C596.973 99.6094 599.219 91.4062 599.219 82.4219C599.219 74.1536 596.973 66.3737 592.48 59.082C588.053 51.7904 582.031 45.9961 574.414 41.6992C566.862 37.3372 558.724 35.1562 550 35.1562H472.656V168.75H465.625V28.125H550C557.422 28.125 564.583 29.5898 571.484 32.5195C578.451 35.4492 584.473 39.388 589.551 44.3359C594.629 49.2188 598.665 55.013 601.66 61.7188C604.72 68.3594 606.25 75.2604 606.25 82.4219C606.25 90.8203 604.753 98.5352 601.758 105.566C598.763 112.598 594.694 118.457 589.551 123.145C584.408 127.767 578.418 131.348 571.582 133.887C564.811 136.426 557.617 137.695 550 137.695H520.215V130.664Z" fill="#005F73" stroke="#005F73"/>
            <path class="draw-me" d="M520.215 116.602H550C559.635 116.602 567.904 113.411 574.805 107.031C581.706 100.651 585.156 92.4479 585.156 82.4219C585.156 73.6328 581.641 65.918 574.609 59.2773C567.578 52.5716 559.375 49.2188 550 49.2188H486.719V168.75H479.688V42.1875H550C561.328 42.1875 571.191 46.224 579.59 54.2969C587.988 62.3047 592.188 71.6797 592.188 82.4219C592.188 94.1406 588.021 103.939 579.688 111.816C571.419 119.694 561.523 123.633 550 123.633H520.215V116.602Z" fill="#94D2BD" stroke="#94D2BD"/>
            <path class="draw-me" d="M520.215 102.539H550C555.859 102.539 560.84 100.781 564.941 97.2656C569.043 93.75 571.094 88.8021 571.094 82.4219C571.094 77.474 568.945 73.0469 564.648 69.1406C560.352 65.2344 555.469 63.2812 550 63.2812H500.781V168.75H493.75V56.25H550C557.487 56.25 564.03 58.8867 569.629 64.1602C575.293 69.4336 578.125 75.5208 578.125 82.4219C578.125 90.6901 575.391 97.2982 569.922 102.246C564.453 107.129 557.812 109.57 550 109.57H520.215V102.539Z" fill="#EE9B00" stroke="#EE9B00"/>
            <path class="draw-me" d="M514.844 168.75H507.812V70.3125H550C553.841 70.3125 557.129 71.5169 559.863 73.9258C562.663 76.2695 564.062 79.1016 564.062 82.4219C564.062 91.1458 559.375 95.5078 550 95.5078H520.215V88.4766H550C554.688 88.4766 557.031 86.4583 557.031 82.4219C557.031 80.9896 556.348 79.7852 554.98 78.8086C553.613 77.832 551.953 77.3438 550 77.3438H514.844V168.75Z" fill="#AF2012" stroke="#AF2012"/>
        </g>

        <!-- p -->
        <g>
            <path class="draw-me" d="M676.66 130.664H706.445C715.234 130.664 723.372 128.581 730.859 124.414C738.411 120.247 744.434 114.453 748.926 107.031C753.418 99.6094 755.664 91.4062 755.664 82.4219C755.664 74.1536 753.418 66.3737 748.926 59.082C744.499 51.7904 738.477 45.9961 730.859 41.6992C723.307 37.3372 715.169 35.1562 706.445 35.1562H629.102V168.75H622.07V28.125H706.445C713.867 28.125 721.029 29.5898 727.93 32.5195C734.896 35.4492 740.918 39.388 745.996 44.3359C751.074 49.2188 755.111 55.013 758.105 61.7188C761.165 68.3594 762.695 75.2604 762.695 82.4219C762.695 90.8203 761.198 98.5352 758.203 105.566C755.208 112.598 751.139 118.457 745.996 123.145C740.853 127.767 734.863 131.348 728.027 133.887C721.257 136.426 714.062 137.695 706.445 137.695H676.66V130.664Z" fill="#005F73" stroke="#005F73"/>
            <path class="draw-me" d="M676.66 116.602H706.445C716.081 116.602 724.349 113.411 731.25 107.031C738.151 100.651 741.602 92.4479 741.602 82.4219C741.602 73.6328 738.086 65.918 731.055 59.2773C724.023 52.5716 715.82 49.2188 706.445 49.2188H643.164V168.75H636.133V42.1875H706.445C717.773 42.1875 727.637 46.224 736.035 54.2969C744.434 62.3047 748.633 71.6797 748.633 82.4219C748.633 94.1406 744.466 103.939 736.133 111.816C727.865 119.694 717.969 123.633 706.445 123.633H676.66V116.602Z" fill="#94D2BD" stroke="#94D2BD"/>
            <path class="draw-me" d="M676.66 102.539H706.445C712.305 102.539 717.285 100.781 721.387 97.2656C725.488 93.75 727.539 88.8021 727.539 82.4219C727.539 77.474 725.391 73.0469 721.094 69.1406C716.797 65.2344 711.914 63.2812 706.445 63.2812H657.227V168.75H650.195V56.25H706.445C713.932 56.25 720.475 58.8867 726.074 64.1602C731.738 69.4336 734.57 75.5208 734.57 82.4219C734.57 90.6901 731.836 97.2982 726.367 102.246C720.898 107.129 714.258 109.57 706.445 109.57H676.66V102.539Z" fill="#EE9B00" stroke="#EE9B00"/>
            <path class="draw-me" d="M671.289 168.75H664.258V70.3125H706.445C710.286 70.3125 713.574 71.5169 716.309 73.9258C719.108 76.2695 720.508 79.1016 720.508 82.4219C720.508 91.1458 715.82 95.5078 706.445 95.5078H676.66V88.4766H706.445C711.133 88.4766 713.477 86.4583 713.477 82.4219C713.477 80.9896 712.793 79.7852 711.426 78.8086C710.059 77.832 708.398 77.3438 706.445 77.3438H671.289V168.75Z" fill="#AF2012" stroke="#AF2012"/>
        </g>

        <!-- T -->
        <g>
            <path class="draw-me" d="M803.191 168.75V49.75H811.191V168.75H803.191Z" fill="#005F73" stroke="#005F73"/>
            <path class="draw-me" d="M817.191 168.75V49.75H825.191V168.75H817.191Z" fill="#94D2BD" stroke="#94D2BD"/>
            <path class="draw-me" d="M831.191 168.75V49.75H839.191V168.75H831.191Z" fill="#EE9B00" stroke="#EE9B00"/>
            <path class="draw-me" d="M845.191 168.75V49.75H853.191V168.75H845.191Z" fill="#AF2012" stroke="#AF2012"/>
            <path class="draw-me" d="M775.391 14.0625V7.03125H880.859V14.0625H775.391Z" fill="#005F73" stroke="#005F73"/>
            <path class="draw-me" d="M775.391 28.125V21.0938H880.859V28.125H775.391Z" fill="#94D2BD" stroke="#94D2BD"/>
            <path class="draw-me" d="M775.191 34.75H881.191V42.75H775.191V34.75Z" fill="#EE9B00" stroke="#EE9B00"/>
        </g>

        <!-- H -->
        <g>
            <path class="draw-me" d="M896.875 28.125H903.906V168.75H896.875V28.125Z" fill="#005F73" stroke="#005F73"/>
            <path class="draw-me" d="M910.938 28.125H917.969V168.75H910.938V28.125Z" fill="#94D2BD" stroke="#94D2BD"/>
            <path class="draw-me" d="M925 28.125H932.031V168.75H925V28.125Z" fill="#EE9B00" stroke="#EE9B00"/>
            <path class="draw-me" d="M939.191 27.75H946.191V168.75H939.191V27.75Z" fill="#AF2012" stroke="#AF2012"/>
            <rect class="draw-me" x="995.191" y="27.75" width="7" height="141" fill="#AF2012" stroke="#AF2012"/>
            <path class="draw-me" d="M1009.47 28.125H1016.5V168.75H1009.47V28.125Z" fill="#EE9B00" stroke="#EE9B00"/>
            <path class="draw-me" d="M1023.54 28.125H1030.57V168.75H1023.54V28.125Z" fill="#94D2BD" stroke="#94D2BD"/>
            <path class="draw-me" d="M1037.6 28.125H1044.63V168.75H1037.6V28.125Z" fill="#005F73" stroke="#005F73"/>
            <path class="draw-me" d="M949.191 84.75V77.75H992.191V84.75L949.191 84.75Z" fill="#005F73" stroke="#005F73"/>
            <path class="draw-me" d="M949.191 98.75V91.75H992.191V98.75L949.191 98.75Z" fill="#94D2BD" stroke="#94D2BD"/>
            <rect class="draw-me" x="949.191" y="112.75" width="7" height="43" transform="rotate(-90 949.191 112.75)" fill="#EE9B00" stroke="#EE9B00"/>
        </g>    

        <!-- i -->
        <g>
            <path class="draw-me" d="M1063.09 28.125H1070.12V168.75H1063.09V28.125Z" fill="#005F73" stroke="#005F73"/>
            <path class="draw-me" d="M1077.15 28.125H1084.18V168.75H1077.15V28.125Z" fill="#94D2BD" stroke="#94D2BD"/>
            <path class="draw-me" d="M1091.21 28.125H1098.24V168.75H1091.21V28.125Z" fill="#EE9B00" stroke="#EE9B00"/>
            <path class="draw-me" d="M1105.27 28.125H1112.3V168.75H1105.27V28.125Z" fill="#AF2012" stroke="#AF2012"/>
        </g>

        <!-- S -->
        <g>        
            <path class="draw-me" d="M1174.33 110.75H1183.13C1187.23 110.75 1190.19 111.824 1192.01 113.972C1193.82 116.12 1194.73 118.913 1194.73 122.35C1194.73 130.083 1188.99 133.95 1177.53 133.95C1166.71 133.95 1158.58 132.339 1153.14 129.117L1157.78 125.572C1161.51 127.291 1168.1 128.15 1177.53 128.15C1182.12 128.15 1185.18 127.64 1186.73 126.619C1188.33 125.599 1189.13 124.176 1189.13 122.35C1189.13 120.578 1188.67 119.181 1187.77 118.161C1186.91 117.087 1185.32 116.55 1182.97 116.55H1174.33C1166.98 116.55 1160.31 115.342 1154.34 112.925C1148.42 110.508 1143.54 107.179 1139.71 102.936C1135.92 98.6935 1133.02 93.7796 1130.99 88.1944C1128.96 82.6093 1127.95 76.5944 1127.95 70.15C1127.95 64.9944 1128.67 60.1074 1130.11 55.4889C1131.55 50.8704 1133.71 46.6278 1136.59 42.7611C1139.52 38.8944 1143.01 35.5648 1147.06 32.7722C1151.17 29.9259 1156.02 27.7241 1161.62 26.1667C1167.27 24.5556 1173.37 23.75 1179.93 23.75C1190.22 23.75 1199.84 25.3343 1208.8 28.5028C1217.76 31.6176 1225.22 35.9944 1231.19 41.6333L1226.55 45.0972C1221.12 40.1565 1214.32 36.3435 1206.16 33.6583C1198 30.9194 1189.26 29.55 1179.93 29.55C1172.63 29.55 1166.02 30.6241 1160.1 32.7722C1154.23 34.8667 1149.38 37.7667 1145.54 41.4722C1141.76 45.1778 1138.83 49.4741 1136.75 54.3611C1134.72 59.2481 1133.71 64.5111 1133.71 70.15C1133.71 77.7222 1135.23 84.5426 1138.27 90.6111C1141.31 96.6796 1145.94 101.567 1152.18 105.272C1158.42 108.924 1165.8 110.75 1174.33 110.75Z" fill="#005F73" stroke="#005F73"/>
            <path class="draw-me" d="M1174.33 99.15H1183.13C1190.91 99.15 1196.75 101.325 1200.64 105.675C1204.53 110.025 1206.48 115.583 1206.48 122.35C1206.48 129.224 1204.06 134.809 1199.2 139.106C1194.41 143.402 1187.18 145.55 1177.53 145.55C1170.76 145.55 1164.44 144.771 1158.58 143.214C1152.77 141.603 1147.97 139.32 1144.18 136.367L1148.74 132.822C1155.41 137.441 1165 139.75 1177.53 139.75C1185.58 139.75 1191.45 138.166 1195.13 134.997C1198.86 131.775 1200.72 127.559 1200.72 122.35C1200.72 117.141 1199.34 112.952 1196.56 109.783C1193.79 106.561 1189.29 104.95 1183.05 104.95H1174.33C1163.4 104.95 1154.85 101.674 1148.66 95.1222C1142.53 88.5167 1139.47 80.1926 1139.47 70.15C1139.47 60.1074 1143.01 51.8102 1150.1 45.2583C1157.19 38.6528 1167.14 35.35 1179.93 35.35C1188.46 35.35 1196.4 36.5315 1203.76 38.8944C1211.17 41.2574 1217.33 44.587 1222.23 48.8833L1217.76 52.5083C1213.38 48.9102 1207.89 46.1176 1201.28 44.1306C1194.67 42.1435 1187.55 41.15 1179.93 41.15C1168.68 41.15 1160.07 43.862 1154.1 49.2861C1148.18 54.7102 1145.22 61.6648 1145.22 70.15C1145.22 78.5815 1147.73 85.5361 1152.74 91.0139C1157.75 96.438 1164.95 99.15 1174.33 99.15Z" fill="#94D2BD" stroke="#94D2BD"/>
            <path class="draw-me" d="M1174.33 87.55H1183.45C1194.27 87.55 1202.72 90.8796 1208.8 97.5389C1214.93 104.198 1218 112.469 1218 122.35C1218 132.393 1214.45 140.717 1207.36 147.322C1200.27 153.874 1190.33 157.15 1177.53 157.15C1169 157.15 1161.03 155.969 1153.62 153.606C1146.21 151.243 1140.05 147.913 1135.15 143.617L1139.63 139.992C1144 143.59 1149.49 146.382 1156.1 148.369C1162.76 150.356 1169.91 151.35 1177.53 151.35C1188.78 151.35 1197.36 148.638 1203.28 143.214C1209.25 137.79 1212.24 130.835 1212.24 122.35C1212.24 113.972 1209.73 107.044 1204.72 101.567C1199.76 96.0889 1192.65 93.35 1183.37 93.35H1174.33C1166.55 93.35 1160.71 91.2019 1156.82 86.9056C1152.93 82.6093 1150.98 77.0241 1150.98 70.15C1150.98 63.2759 1153.38 57.6907 1158.18 53.3944C1163.03 49.0981 1170.28 46.95 1179.93 46.95C1186.7 46.95 1192.99 47.7556 1198.8 49.3667C1204.61 50.9241 1209.41 53.1796 1213.2 56.1333L1208.64 59.6778C1201.98 55.0593 1192.41 52.75 1179.93 52.75C1171.88 52.75 1165.99 54.3611 1162.26 57.5833C1158.58 60.7519 1156.74 64.9407 1156.74 70.15C1156.74 75.413 1158.1 79.6287 1160.82 82.7972C1163.59 85.9657 1168.1 87.55 1174.33 87.55Z" fill="#EE9B00" stroke="#EE9B00"/>
            <path class="draw-me" d="M1184.01 81.75H1174.33C1170.23 81.75 1167.27 80.7028 1165.46 78.6083C1163.64 76.4602 1162.74 73.6407 1162.74 70.15C1162.74 62.4167 1168.47 58.55 1179.93 58.55C1190.7 58.55 1198.8 60.1611 1204.24 63.3833L1199.6 66.9278C1195.87 65.2093 1189.31 64.35 1179.93 64.35C1175.35 64.35 1172.25 64.8602 1170.65 65.8806C1169.11 66.9009 1168.34 68.3241 1168.34 70.15C1168.34 71.9759 1168.76 73.3991 1169.61 74.4194C1170.47 75.4398 1172.04 75.95 1174.33 75.95H1184.25C1191.45 75.95 1197.92 77.1852 1203.68 79.6556C1209.49 82.1259 1214.26 85.5093 1218 89.8056C1221.73 94.0481 1224.58 98.962 1226.55 104.547C1228.53 110.079 1229.51 116.013 1229.51 122.35C1229.51 127.506 1228.79 132.393 1227.35 137.011C1225.91 141.63 1223.73 145.872 1220.8 149.739C1217.92 153.606 1214.42 156.962 1210.32 159.808C1206.27 162.601 1201.42 164.776 1195.76 166.333C1190.17 167.944 1184.09 168.75 1177.53 168.75C1167.24 168.75 1157.59 167.166 1148.58 163.997C1139.63 160.882 1132.16 156.506 1126.19 150.867L1130.83 147.403C1136.27 152.344 1143.06 156.183 1151.22 158.922C1159.43 161.607 1168.2 162.95 1177.53 162.95C1184.84 162.95 1191.42 161.903 1197.28 159.808C1203.2 157.66 1208.05 154.733 1211.84 151.028C1215.68 147.322 1218.61 143.026 1220.64 138.139C1222.71 133.252 1223.75 127.989 1223.75 122.35C1223.75 114.885 1222.26 108.145 1219.28 102.131C1216.29 96.062 1211.73 91.1481 1205.6 87.3889C1199.52 83.6296 1192.33 81.75 1184.01 81.75Z" fill="#AF2012" stroke="#AF2012"/>
        </g>
    </svg>
</body>

{% render 'partials/foot.liquid' %}

<style>
    svg {
        margin: 1em;
        padding: .5em;
        width: 90%;
    }

    .draw-me {
        fill: none; 
        stroke-width: 2.2;    
    }
</style>