{% render 'partials/head.liquid' %}
<body>
    <main> 
        <section>
            <h1>Daily checkout</h1>
            <a class="back" href="/stage">← Back to stage</a>

            <h2> {{ file|slice:0,-3 }} </h2>
            <article class="detail-daily"> {{ fileContents5 }} </article>
        </section>
    </main>
</body>
{% render 'partials/foot.liquid' %}

<style>
    body {
        padding: 2em;
    }
</style>