{% render 'partials/head.liquid' %}
<body>
    <main> 
        <section>
            <a class="back" href="/stage">← Back to stage</a>
            <article> {{ fileContents5 }} </article>
        </section>
    </main>
</body>
{% render 'partials/foot.liquid' %}

<style>
    body {
        padding-left: 20%;
        padding-right: 20%;
    }
</style>