{% render 'partials/head.liquid' %}

<section>
    <a class="back" href="/">â† Back to home</a>

    <h1>We love Web</h1>
    <article> {{ fileContents2 }} </article>
</section>

{% render 'partials/foot.liquid' %}

