{% render 'partials/head.liquid' %}

<section>
    <h1>We LOVE Web</h1>
    <h2> {{ file|slice:0,-3 }} </h2>
    <article> {{ fileContents2 }} </article>
</section>

<p> test? </p>

{% render 'partials/foot.liquid' %}

