{% render 'partials/head.liquid' %}
<body>
    <main>
        <section>
            <a class="back" href="/">â† Back to home</a>

            <h1>We love Web</h1>
            <article> {{ fileContents3 }} </article>
        </section>
    </main>
</body>
        
{% render 'partials/foot.liquid' %}

