{% render 'partials/head.liquid' %}
<body>
    <main>
        <section>
            <h1>We love web's</h1>
            <a class="back" href="/">← Back to home</a>

            <article class="note-box">
                {% for file in files2 %}
                    <a class="notes" href="/we-love-web/{{ file|slice:0,-3 }}"> {{ file|slice:0,-3 | capitalize }} </a>
                {% endfor %}  
            </article>
        </section>
    </main>
</body>


{% render 'partials/foot.liquid' %}
