body { 
    --main-green:  #b1d8b7; 
    --main-beige:  #f9f5ef;
    --accent-green:  #65856a; 
    background-color: var(--main-beige);
    justify-content: center;
    align-items: center;
  }

@font-face {
    font-family: 'MS madi';
    src: url(../fonts/fonts/MsMadi-Regular.ttf);
}

h1 {
    font-family: 'MS madi','Open Sans',"Relieve", Arial, sans-serif;
    font-size: 7em;
    font-weight: 200;
    text-align: center;
    position: relative;
}

@font-face {
    font-family: 'pixelfont';
    src: url(../fonts/fonts/PixelFont-Regular.otf);
}

p {
    font-family: 'pixelfont', 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1em;
    max-width: 80ch;
    /* text-align: center; */
}

.butter {
    position: absolute;
    top: 1em;
    left: 3em;
    height: 5em;
    width: auto;
}