body { 
    --main-green:  #b1d8b7; 
    --main-beige:  #f9f5ef;
    --accent-green:  #65856a; 
    background-color: var(--main-beige);
    justify-content: center;
    align-items: center;
  }

main {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: .1em;
}

article {
    grid-column-start: 2;
    grid-column-end: 2;
}

@font-face {
    font-family: 'pixelfont';
    src: url(../fonts/fonts/PixelFont-Regular.otf);
}

@font-face {
    font-family: 'MS madi';
    src: url(../fonts/fonts/MsMadi-Regular.ttf);
}

h1 {
    font-family: 'MS madi','Open Sans',"Relieve", Arial, sans-serif;
    font-size: 7em;
    font-weight: 200;
    text-align: center;
    position: relative;
}

p {
    font-family: 'pixelfont', 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1em;
    max-width: 80ch;
    line-height: 200%;
}

.butter {
    position: fixed;
    top: 1em;
    left: 1.7em;
    height: 5em;
    width: auto;
}