body { 
    --main-green:  #b1d8b7; 
    --main-beige:  #f9f5ef;
    --accent-green:  #65856a; 
    background-color: var(--main-beige);
    justify-content: center;

  }

@font-face {
    font-family: 'MS madi';
    src: url(../fonts/fonts/MsMadi-Regular.ttf);
}

h1 {
    font-family: 'MS madi','Open Sans',"Relieve", Arial, sans-serif;
    font-size: 7em;
    font-weight: 200;
    text-align: center;
}

h2 {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 2em;
}

h3 {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1.5em;
}

h4 {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1em;
}

p {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1em;
}

a {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1em;
}

li {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1em;  
}

article {
    background-color: var(--main-green);
    border-radius: 10px;
    padding: 10px;
    margin: 2em;
    width: 80vw;
}
