h1 {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
}

h2 {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
}

h3 {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
}

p {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
}

a {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
}

li {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;

}