body { 
    --main-green:  #b1d8b7; 
    --main-beige: #f9f5ef;
    --accent-green:  #65856a; 
    background-color: var(--main-green);
    color-scheme:light dark;
    padding: 1em;
}


/* FONTS */
@font-face {
    font-family: 'MS Madi' ;
    src: url(fonts/MsMadi-Regular.ttf);
}

h1 {
    font-family: 'MS madi','Open Sans',"Relieve", Arial, sans-serif;
    font-size: 7em;
    font-weight: 200;
    text-align: center;
    position: relative;
    margin: 2%;
}

h2 {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1.5em;
}

p {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1em;
}

a {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1em;
}

header {
    .butter {
        position: absolute;
        top: 1em;
        right: 3em;
        height: 3em;
        width: auto;
    }
}


ul {
    padding-inline-start: inherit;
}

li{
    margin: .7em;
    text-align: center;
    list-style: none;
    .list-item {
        background-color: var(--main-beige);
        color: black;
        padding: .3em;
        border-radius: 10em;
        text-decoration: none;
    }
}


.detail-daily {
    background-color: #F4EBAB ;
    max-width: 60% ;
    padding: 2em;
    justify-self: center;
}