h1 {
    font-size: 1em;
    max-width: 90%;
    font-family:'Lucida Sans', Verdana, sans-serif;

    @supports (background-clip: text) {
        color: transparent; 
        background: linear-gradient( 90deg, #c83d3d 30% ,#000 60% );
        background-clip: text;
    }

    @media (width > 36em) {
        font-size: 6em; 
    }

    @media (width > 45em) {
        font-size: 8em; 
    }

    @media (width > 60em) {
        font-size: 10em; 
    }
}   
