body { 
    --main-green:  #b1d8b7; 
    --main-beige: #f9f5ef;
    --accent-green:  #65856a; 
    background-color: white;
    color-scheme:light dark;
    padding: 1em;
}


/* FONTS */
@font-face {
    font-family: 'MS Madi' ;
    src: url(../fonts/MsMadi-Regular.ttf);
}

@font-face {
    font-family: 'Slackey' ;
    src: url(../fonts/Slackey/Slackey-Regular.ttf);
}


h1 {
    font-family: 'MS madi','Open Sans',"Relieve", Arial, sans-serif;
    font-size: 7em;
    font-weight: 200;
    text-align: center;
    position: relative;
    margin: 2%;
}

h2 {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 2em;
    /* text-align: center; */
}

h3 {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1.5em;
}

p {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1em;
}

a {
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1em;
}

header {
    .butter {
        position: absolute;
        top: 1em;
        right: 3em;
        height: 3em;
        width: auto;
    }
}


ul {
    padding-inline-start: inherit;
}

li{
    font-family: 'Open Sans',"Relieve", Arial, sans-serif;
    font-size: 1em;
    margin: .7em;
    list-style: none;   
}

.list-item-home {
    background-color: var(--main-beige);
    color: black;
    padding: .3em;
    border-radius: 10em;
    text-decoration: none;
}


.detail-daily {
    max-width: 60% ;
    padding: 2em;
    justify-self: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.note-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
}

.notes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(17em, 100%), 1fr));
    width: 15em;
    height: 8em;
    padding: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: var(--main-green) solid 3px;
    border-radius: 20px;
    background-image: url(../assets/Ontwerp_zonder_titel-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    text-decoration: none;
}

.back {
    padding: .6em;
    margin-bottom: 6em;
    border-radius: 10px;
    background-color: var(--main-green);
    color: black;
    text-decoration: none;
}